body{
   font-family: arial, sans-serif;
   margin: 0;
   padding: 1ex;
   
}

h1{
   text-decoration: none;
   color: #006699;
}

h2{
   color: #006699;
}

li{
   line-height: 1.2em;
   list-style-type: none;
}   

a, a:visited {
   color: #006699;
}

div[name="index"] a{
   text-decoration: none;
}

hr{
   display: none;
}
